<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>

<body>
    <div layout:fragment="content" class="container body-content">
        <form th:action="@{/products/edit}" th:object="${product}" method="post" class="form">
            <input type="hidden" th:field="*{id}">

            <div class="form-group mb-3">
                <label for="name">Name</label>
                <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Product Name">
            </div>

            <div class="form-group mb-3">
                <label for="image">Image URL</label>
                <input class="form-control" type="text" th:field="*{image}" id="image" placeholder="http://image.jpg">
            </div>

            <div class="form-group mb-3">
                <label for="price">Price</label>
                <input class="form-control" type="number" th:field="*{price}" id="price" placeholder="Price">
            </div>

            <div class="form-group mb-3">
                <label for="category">Category</label>
                <select th:field="*{category}" id="category" class="form-control">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
                    </option>
                </select>
            </div>

            <button type="submit" class="btn btn-success">Update Product</button>
            <a th:href="@{/products}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>

</html>